{% extends 'job/base.html' %}
{% block content %}

<div class="container py-5">

    <h4 class="mb-4">📄 My Applications</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Job</th>
                <th>Company</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for app in apps %}
            <tr>
                <td>{{ app.job.title }}</td>
                <td>{{ app.job.company }}</td>
                <td>{{ app.applied_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No applications</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}